.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  padding-top: 2rem;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.buttonContainer {
  padding: 2rem;
}

.buttons {
  flex-basis: 25%;
}

.button {
  width: 300px;
  border: 1px solid green;
  padding: 50px;
  margin: 20px;
  background-color: rgb(102, 255, 0);
}

input[type="text"] {
  opacity: 0.5;

  transition: all 0.2s ease;
  font-size: 18px;
}
